boto3
dateparser
ipython
scrapyd
scrapyd-client
#scrapy-splash==0.9.0
#scrapyrt==0.16.0
#spidermon==1.23.0
#scrapy-poet==0.24.0
#scrapy-playwright==0.0.42

#my requirements.txt
scrapy==2.11.0
async_timeout
chompjs==1.2.3
peewee==3.17.1
psycopg2-binary
scrapy-poet==0.22.1
web-poet==0.17.0
price-parser==0.3.4
pgeocode==0.4.1
pycountry==23.12.11
lxml==5.1.0
scrapy-autoextract==0.7.0
requests==2.31.0
ruff==0.2.1
jsonschema==4.21.1
redis==5.0.1
scrapy-redis==0.7.3
colorama==0.2.5
pygsheets==2.0.6
scrapy-proxies==0.4
pydantic
pydantic-schemaorg
python-dotenv
python-scrapyd-api